*.iml
.idea

*.pyc

test-reports/*

.cache
tests/**/.cache

package
docker-build-list.json
docker-build-report.txt
onezone_meta/package
onezone_meta/onezone.spec
onezone_meta/onezone/DEBIAN/control

.gitmodules

# OSX
.DS_Store
