[submodule "oz_worker"]
	path = oz_worker
	url = ../oz-worker.git
	branch = develop
[submodule "bamboos"]
	path = bamboos
	url = ../bamboos.git
	branch = develop
[submodule "onepanel"]
	path = onepanel
	url = ../onepanel.git
	branch = develop
[submodule "cluster_manager"]
	path = cluster_manager
	url = ../cluster-manager.git
	branch = develop
